@import 'components/bootstrap/index.less';
@import './variables.less';

body {
    margin: 0px;
    background-image: url('./assets/images/wallpaper.jpg');
    .app {
        font-family: Abel,sans-serif;
    }
}